<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>twitch.nowplaying.file-writer</string>
    <key>Program</key>
    <string>/Users/medge/code/stream/stream-config/nowPlaying.sh</string>
    <key>RunAtLoad</key>
    <false/>
    <key>StartInterval</key>
    <integer>10</integer>
</dict>
</plist>
